body {
  margin: auto;
  background-color: white;
  /* margin: 2em; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 32px;
}

.logo {
  max-width: 100px;
  margin-left: 8em;
}

/* NAVBAR */
.navbar-static {
  border-top: 8px solid #fff200;
  margin-top: -5px;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.navbar-static p {
  padding: 1.5em;
  font-size: 16px;
  font-weight: 600;
}

body > div.navbar-static > p:nth-child(3) {
  margin-right: 8em;
}

.right-nav {
  margin-left: auto;
}

/* ACTIVITIES */

.activity-container {
  padding: 0 8em;
  margin-top: 3em;
}

.activity-container h1 {
  font-size: 32px;
  font-weight: 600;
}

.activities-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* gap: .5em; */
  padding: 0 8em;
}

/* CARDS */

.card {
  border: 0 !important;
}

.card-img-top {
  height: 12vw;
  object-fit: cover;
}

/* RESPONSIVE */

@media screen and (max-width: 1338px) {
  .activities-container {
    grid-template-columns: auto auto auto;
  }

  .card-title {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 750px) {
  .activities-container {
    grid-template-columns: auto auto;
    padding: 1.5em;
  }
  .activity-container {
    padding: 0 2em;
  }
  .activity-container h1 {
    font-size: 24px;
  }
  .card-img-top {
    height: 20vw;
    object-fit: cover;
  }
  .logo {
    max-width: 60px;
    height: 100%;
    margin-left: 2em;
  }
}

/* MOBILE NAV */